/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .main-container {
        padding: 0;
    }

    header{
        flex-direction: column;
        align-items: center;
    }

    .logo-booki {
        padding-left: 50px;
    }

    nav{
        display: flex;
        width: 100%;
        justify-content: space-around;
        gap: 0;
        margin-bottom: 30px;
    }

    nav a {
        display: flex;
        justify-content: space-around;
        width: 100%;
        border-bottom: 2px solid var(--main-bg-color);
        padding-bottom: 4.25%;
        padding-top: 0;
    }

    nav a:hover{
        border-bottom: 2px solid var(--main-color);
        border-top: none;
    }

    .info-group{
        gap: 35px;
    }

    .text{
        padding: 0 20px;
    }

    .form-section {
        margin: 0 7.5px 0 20px;
    }

    .search-input{
        width: 100%;
        padding-right: 12.5px;
    }

    .search-button{
        display: none;
    }

    .form-section .fa-magnifying-glass{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 49px;
        color: white;
        border: 1px solid var(--main-color);
        background-color: var(--main-color);
        border-radius: 15px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        position: relative;
        right: 12.5px;
    }

    .search-icon{
        display: flex;
    }

    .form-section .search-icon {
        padding: 0px;
        border: none;
        background-color: white;
        cursor: pointer;
    }

    .filtre-section{
        flex-direction: column;
        align-items: flex-start;
        padding: 0 20px;
    }

    .filtre-sous-section{
        width: 100%;
        gap: 10px;
    }

    .filtre-section h3{
        margin: 0;
    }

    .filtre{
        width: 100%;
    }

    .info{
        padding: 0 20px;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
        gap: 35px;
    }

    .hebergements-and-populaires section {
        border-radius: 0px;
        padding: 30px 20px;
    }

    .populaires-cards {
        flex-direction: column;
        gap: 15px;
        margin-top: 15px;
    }
    .populaires-cards a {
        width: 100%;
    }

    .hebergements-and-populaires .hebergements{
        background-color: white;
    }

    .hebergements-cards{
        flex-direction: column;
        gap: 15px;
        margin-top: 15px;
    }

    .hebergements-cards a{
        width: 100%;
        margin-top: 0;
    }

    .hebergements .afficher-plus {
        margin-top: 15px;
    }

    .activities{
        margin-top: 35px;
    }

    .activities-cards{
        flex-direction: column;
        gap: 15px;
    }

    .activities-cards a {
        width: 100%;
        height: 200px;
    }

    .card-two img {
        height: 70.5%;
    }

    .card-two h3{
        height: 29.5%;
    }

    footer{
        flex-direction: column;
        gap: 50px;
        padding: 30px;
    }

    .section-footer{
        padding-left: 0px;
        width: 100%;
        gap: 15px;
    }

    .section-footer h2 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .section-footer a {
        padding-bottom: 0px;
    }
}