/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.logo-booki{
    width: 61.09px;
    padding: 30px 50px 30px 0px;
}

nav {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: flex-end;
    gap: 68px;
}

nav a{
    border-top: 2px solid transparent;
    padding-top: 5%;
}

nav a:hover{
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
    cursor: pointer;
}

.info-group{
    height: 281px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

h1{
    font-size: 22px;
    margin: 0;
}

p{
    margin: 0;
}

.form-section{
    display: flex;
    align-items: center;
}

.form-section .fa-solid{
    width: 50px;
    height: 49px;
    color: black;
    border: 1px solid #F2F2F2;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-input{
    width: 195px;
    height: 49px;
    border: 1px solid var(--main-bg-color);
    border-left: none;
    border-right: none;
    padding: 0px
}

.search-input:hover{
    cursor: text;
}

.search-input::placeholder{
    color: black;
    font-size: 18px;
    font-weight: 800;
    text-align: center;
}

.search-input:focus{
    outline: none;
}

.search-button{
    width: 132px;
    height: 51px;
    color: white;
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
    border-radius: 0px 15px 15px 0px;
    padding: 0px;
    font-size: 18px;
    font-weight: 800;
}

.search-button:hover{
    cursor: pointer;
}

.filtre-section{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.filtre{
    border: 2px solid grey;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 1rem;
    p{
        font-weight: 800;
        margin: 0;
    }
}

.filtre:hover{
    background-color: #DEEBFF;
    cursor: pointer;
}

.info{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.info .fa-solid{
    border: 1px solid var(--main-bg-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    display: flex;
    flex-direction: column;
    width: 65%;
}

.hebergements-cards{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    box-sizing: border-box;
}

.hebergements-cards .card {
    width: 100%;
    height: 207px;
    margin-top: 30px;
}

.hebergements-cards a{
    width: 28.7%
}

.hebergements-cards img {
    width: 100%;
    height: 55%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    height: 45%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.hebergements-cards .card-title {
    margin: 0;
}

.hebergements .afficher-plus{
    font-size: 18px;
    margin: 0;
    margin-top: 33px;
    font-weight: 800;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/

.activities{
    height: 35rem ;
    padding: 30px;
}

.activities h2{
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
}

.card-two{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    box-sizing: border-box;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    height: 439px;
    width: 100%;
}

.card-two h3{
    font-size: 16px;
    padding: 20px;
    margin: 0;
}

.card-two img{
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 86.5%;
    width: 100%;
}

.activities-cards{
    display: flex;
    justify-content: space-between;
}

.activities-cards a{
    width: 23.24%;
}

/****** Footer ***********/

footer{
    background-color: var(--main-bg-color);
    display: flex;
    gap: 15px;
}

.section-footer{
    width: 33.33%;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.section-footer h2{
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.section-footer a{
    font-size: 16px;
    padding-bottom: 20px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}